.text-pick {
	color: #fc5c82;
}
.bg-pick{
	background-color: #fc5c82;
}
.pb--1{
	padding-bottom: -50rpx;
}
.bg-pick-disabled{
	background-color: #f2b7d5;
}
.bg-b{
	background-color: #061026;
}
.bg-bule{
	background-color: #2661dd;
}